body{
	background-color : white;
	color : black;
	font-family: "Courier New", courier, monotype;
	padding-top : 0;
	padding-bottom : 2em;
}

abbr{
	text-decoration:none;
}

@media only screen and (max-device-width: 600px) {
  body {
	font-size: 32pt;
	padding-left : 2em;
	padding-right : 2em;
  }
}

@media not screen and (max-device-width: 600px) {
  body {
	padding-left : 20%;
	padding-right : 20%;
  }
}

header{
	display: block;
	margin : 0 0 1em 0;
	border-bottom : solid 0.3em;
	padding : 0;
	min-height : 7.5em;
}

header + p {
	clear: both;
}

h1, h2,p.orgname{
	font-family : "lucida bright", Georgia, serif;
	font-variant:small-caps;
}


h1,p.orgname{
	color : black;
	font-size: 3em;
	text-align : center;
	margin : 0 auto 0.5em auto;
	padding-top:0.5em;
	font-weight:normal;
}

h2, *.indirizzo{
	color : #666666;
}

p.indirizzo img{
	max-height: 1.2em;
	vertical-align:middle;
}
h2{
	font-size: 1.2em;
	font-weight : bold;
	/*color:rgb(51, 51, 51);*/
}

*.title{
	font-family: Lato, Helvetica, sans-serif;
	text-align : center;
	font-size: 3em;
	margin-bottom:1em;
	font-weight:normal; 
	padding-top:0;
}

img.logo{
	float:left;
	max-height: 7em;
	vertical-align : middle;

}

section{
	background:none;
	margin: 2em 0 3em 0;
	padding:0;
}


ul.contacts{
	list-style-type:none;
	list-style-position:inside;
	margin:0;
	padding:0;

}
ul.contacts li{
	line-height: 3em;
}

ul.contacts img{
	vertical-align : middle;
	height:2em;
	width:2em;
	margin : 0.2em;
	padding:0;
}

p.indirizzo{
	text-align:center;
	font-style : italic;
	margin:0 ;
	padding:0.2em;
}

a, a:link, a:visited, a:hover, a:active{
	color: rgb(18, 52, 86);
	font-weight: bold;
}

a:link, a:visited{
	text-decoration : none;
}

 a:hover, a:active{
	text-decoration : underline;
}

*.date{
	font-family:Consolas,"courier new";
	font-style : normal;
/*	font-size:1.2em;
	background-color : #aaaaaa;
	margin:0;
	padding: 0.5em;
	display:inline-block; */
} 

ol{
	list-style-type : none;
	list-style-position:inside;
	margin:0;
	padding:0;
}

ol li{
	margin:0.5em auto 0.5em 0;
}

nav{
	margin: 0.2em 0.2em 0.2em auto;
	text-align : right;
}
