@import url('https://fontlibrary.org/face/roboto');
@import url('https://fontlibrary.org/face/montserrat');
@import url('https://fontlibrary.org/face/connection');

body{
	color:white;
	background-color:#202020;
	margin:0;
	padding:0;
	font-family: "Roboto", Arial, sans-serif;
}

@media only screen and (max-device-width: 600px) {
  body {
	font-size: 32pt;
  }
}

@media not screen and (max-device-width: 600px) {
  body {
  }
}

header{
	display: block;
	margin : 0;
	border-bottom : solid 0.2em rgb(111, 184, 211);
	padding : 0;
	background-color : rgb(43, 46, 52);
	min-height : 6em;
}

h1,h2, p.orgname{
	background-color: rgb(51, 55, 62);
	font-family: 'MontserratRegular';
	font-weight: normal;
	font-style: normal; 
	color:white;
	margin:0;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

h1,p.orgname{
	font-size:1.4em;
}

h2{
	text-transform: uppercase;
	font-size:1.1em;
}

*.title{
	text-align : center;
	font-size: 2em;
	margin-bottom:1em;
}
img.logo{
	float:left;
	max-width: 8em;
	max-height:5em;

	vertical-align : middle;
	padding: 0.4em 1em 0 1em;
	margin:0;
}

p.indirizzo{
	color:rgb(188, 188, 193);
}

section{
	background-color: rgb(51, 55, 62);
	margin-top:2em;
	margin-bottom:1em;
	margin-left:5%;
	margin-right:5%;
	padding:1em 1.5em 1em 1.5em;
}

abbr{
	text-decoration:none;
}

ul.contacts{
	list-style-type:none;
	list-style-position:inside;
	margin:0;
	padding:0;
}
ul.contacts li{
	line-height: 3em;
}

ul.contacts li img{
	vertical-align : middle;
	height:2em;
	width:2em;
	margin : 0.2em;
	padding:0;
}

a, a:link, a:visited, a:hover, a:active{
	color : rgb(111, 184, 211);
	font-weight: bold;
}

a:link, a:visited{
	text-decoration : none;
}

 a:hover, a:active{
	text-decoration : underline;
}

*.date{
	font-family:Consolas,"courier new";
	font-style : normal;
} 

ol{
	list-style-type : none;
	margin:0;
	padding:0;
}

ol li{
	margin:0.5em auto 0.5em 0;
}

nav{
	margin: 0.2em 0.2em 0.2em auto;
	text-align : right;
}