body{
	background-color : #009cb8;
	color : white;
	font-family: "Courier New", courier, monotype;
}

@media only screen and (max-device-width: 600px) {
  body {
	font-size: 32pt;
	padding-left : 2em;
	padding-right : 2em;
  }
}

@media not screen and (max-device-width: 600px) {
  body {
	padding-left : 20%;
	padding-right : 20%;
  }
}

header{
	display: block;
	margin : 4em auto 4em auto;
	padding : 0;
	text-align : center;
}

img.logo{
	display:block;
	max-width: 50%;
	margin: 0 auto 4em auto;
	padding:0;
}


h1, h2,p.orgname{
	font-family : "lucida bright", Georgia, serif;
}

h1,p.orgname{
	font-size: 2em;
	margin : 0 auto 0 auto;
	padding:0;
	font-weight : normal;
}

p.indirizzo{
	font-style : italic;
	padding :0;
	margin: 1em auto 0 auto;
}

p.indirizzo img{
	max-height: 1.2em;
	vertical-align:middle;
}

h2{
	font-size: 1.5em;
	font-weight : bold;
	text-align:center;
	margin : 0 auto 2em auto;
	padding:0;
}


section{
	background:none;
	/* background-color : #f0f0f0; */
	margin: 0 auto 4em auto;
	padding: 2em;
	border-top: solid 0.2em #05a0d0;
}


ul.contacts{
	list-style-type:none;
	list-style-position:inside;
	margin:0;
	padding:0;
}
ul.contacts li{
	line-height: 3em;
}

ul.contacts img{
	vertical-align : middle;
	height:2em;
	width:2em;
	margin : 0.2em;
	padding:0;
}

a, a:link, a:visited, a:hover, a:active{
	color : #666666;
	font-weight: bold;
}

a:link, a:visited{
	text-decoration : none;
}

 a:hover, a:active{
	text-decoration : underline;
}

p.orgName{
	font-size: 1.5em;
	margin : 0 auto 0 auto;
	padding:0 auto 1em auto;
	font-weight : bold;
}

p.orgName a{
	color: inherit;
}

p.date{
	font-family: Courier, Monotype;
	font-size:1.5em;
	font-weight: bold;
}

#article img{
	display:block;
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
}
